flows.json
[{"id":"1d0438cd.328857","type":"tab","label":"Sign In","disabled":false,"info":""},{"id":"608a78bbe84bdbb1","type":"tab","label":"Smart Contract","disabled":false,"info":"","env":[]},{"id":"f6f2187d.f17ca8","type":"tab","label":"Data Lake","disabled":false,"info":"","env":[]},{"id":"c8a8253ceebfe538","type":"tab","label":"Contact Us","disabled":false,"info":"","env":[]},{"id":"e8730ab9b6b2bef6","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"ce0171da5a9ecdf0","type":"tab","label":"Logout","disabled":false,"info":"","env":[]},{"id":"a4efcc4c0ae8e8fb","type":"tab","label":"Payments","disabled":false,"info":"","env":[]},{"id":"d253cd8185782b28","type":"group","z":"e8730ab9b6b2bef6","name":"","style":{"fill":"#ffffff","label":true,"fill-opacity":"0.42"},"nodes":["ea31bfa6a90897fb","18d9a63f4cc7098b","93942f9feaa3794b","e9347cde2e6232fe","fd36b48568306bad","cf0e4ab060457832","48773fb3f5df9147","edf753c051f607a2","4d45170682646443","992760ae1ae2bd96","07b218d38eddfe39","3546e7a57adb1c78","f698d1fb3a04ebf4","afdb6dc4e5df603d","03045265c7c6a5f4","b2de870a03e54440","faab0b438e66bbd9","693c4528a957296d","0a4b0193f6f0cbc0","6e10dae38be6a6a0","34e522abda2f11e9","116eb33b5d026d40","9d76e66dd98e75c8","85ed2826825efcf9","5997555cd57092dc"],"x":34,"y":1219,"w":1132,"h":482},{"id":"f74895fa02c284ef","type":"group","z":"a4efcc4c0ae8e8fb","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b9b2b8ee0223ba8d","b7edd1e9c5af78ed","a0d38c6dc8767af8","0f974e0347e06318","5b0d5c15e398c62d"],"x":34,"y":59,"w":612,"h":142},{"id":"0ee2c4781f4e9369","type":"ui_group","name":"Group 1","tab":"4dfa4884caed2f75","order":1,"disp":true,"width":"15","collapse":false,"className":""},{"id":"4dfa4884caed2f75","type":"ui_tab","d":true,"name":"Dashboard","icon":"assessment","order":2,"disabled":false,"hidden":false},{"id":"f872f34450cd9435","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#7acd00","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#7acd00","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#7acd00","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#7acd00","edited":true},"page-titlebar-backgroundColor":{"value":"#7acd00","edited":false},"page-backgroundColor":{"value":"#6b6b6b","edited":true},"page-sidebar-backgroundColor":{"value":"#464343","edited":true},"group-textColor":{"value":"#a2ff1a","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#7acd00","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"amber","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"☰","hideToolbar":"false","allowSwipe":"false","lockMenu":"icon","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"520f753e.322f2c","type":"ui_group","name":"Hello, Guest!","tab":"9322de02.138e9","order":1,"disp":true,"width":"7","collapse":false,"className":""},{"id":"9322de02.138e9","type":"ui_tab","name":"Login","icon":"login","order":1,"disabled":false,"hidden":false},{"id":"97336654.b654c8","type":"ui_group","name":"Contact Us","tab":"bc2b75c3.fe3a48","order":1,"disp":false,"width":12,"collapse":false},{"id":"5725ff8c.4bf6c","type":"airtable","name":"Airtable"},{"id":"bc2b75c3.fe3a48","type":"ui_tab","name":"Contact_Us","icon":"contact_mail","order":4,"disabled":false,"hidden":false},{"id":"a2d91eaab3867062","type":"ui_group","name":"Analytics Overview","tab":"168727c06641ef06","order":1,"disp":false,"width":"21","collapse":false,"className":""},{"id":"8d3dd0ac14fcb3cc","type":"ui_group","name":"Slicers","tab":"168727c06641ef06","order":3,"disp":false,"width":5,"collapse":false},{"id":"dfafc2e81979a551","type":"ui_group","name":"Map","tab":"168727c06641ef06","order":2,"disp":false,"width":16,"collapse":false},{"id":"75bba8dcbec60ee7","type":"airtable","name":"NoSQL"},{"id":"168727c06641ef06","type":"ui_tab","name":"Analytics","icon":"assessment","order":3,"disabled":false,"hidden":false},{"id":"fb4ca7c3.864058","type":"ui_group","name":"Logout","tab":"64be35cd.7831bc","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"64be35cd.7831bc","type":"ui_tab","name":"Logout","icon":"logout","disabled":false,"hidden":false},{"id":"579134ab.a3cad4","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"644b90b4.b173f","type":"debug","z":"1d0438cd.328857","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":120,"wires":[]},{"id":"47e7d885.b39368","type":"inject","z":"1d0438cd.328857","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["28ab43d4.c061dc"]]},{"id":"86b87d4a.a190f","type":"function","z":"1d0438cd.328857","name":"","func":"\nconst auth = global.get(\"auth\") || {};\n\n//See if auth has a property  (msg.payload.username\nif (!auth.hasOwnProperty(msg.payload.username)) {\n    msg.payload = `\"${msg.payload.username}\" not found!`\n    return [null, msg];\n}\n\n//get password from auth object\nlet expectedPW = auth[msg.payload.username];\nif (msg.payload.password == expectedPW) {\n    msg.payload = `Welcome Back, ${msg.payload.username}!`;\n    return [msg, null];\n} else {\n    msg.payload = `Wrong Pasword for \"${msg.payload.username}\". Please try again`\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["2dbc55a.8e7dbaa","4f56394b6ef347bc","29eea6386c63801a"],["de19ede8.f4e2c"]]},{"id":"28ab43d4.c061dc","type":"template","z":"1d0438cd.328857","name":"load user+pass.txt","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"gilad\": \"qwe123\",\n    \"ori\": \"qwe123\"\n    \n}","output":"str","x":350,"y":120,"wires":[["8d69f332.5182e"]]},{"id":"2dbc55a.8e7dbaa","type":"ui_toast","z":"1d0438cd.328857","position":"top right","displayTime":"3","highlight":"lime","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":590,"y":180,"wires":[]},{"id":"de19ede8.f4e2c","type":"ui_toast","z":"1d0438cd.328857","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":590,"y":220,"wires":[]},{"id":"c1a4503b.0a896","type":"ui_form","z":"1d0438cd.328857","name":"","label":"","group":"520f753e.322f2c","order":2,"width":7,"height":1,"options":[{"label":"Name","value":"username","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":180,"wires":[["86b87d4a.a190f"]]},{"id":"d422df97.6ab87","type":"change","z":"1d0438cd.328857","name":"","rules":[{"t":"set","p":"auth","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":120,"wires":[["644b90b4.b173f"]]},{"id":"8d69f332.5182e","type":"json","z":"1d0438cd.328857","name":"","property":"payload","action":"","pretty":true,"x":530,"y":120,"wires":[["d422df97.6ab87"]]},{"id":"9f2d5f7e.c1757","type":"ui_template","z":"1d0438cd.328857","group":"520f753e.322f2c","name":"CSS only ","order":1,"width":7,"height":1,"format":"/!--\n\n-->\n<style>\n    .nr-dashboard-template {\n        padding: 0px;\n    }\n    .md-button {\n        border-radius: 10px;\n    }\n    .md-button:hover {\n        border:1px solid red;\n    }\n    .bigger{\n        font-size:1.5em;\n    }\n    .bold {\n        font-weight:bold;\n    }\n    /*  This is for buttons with a lot of text.  `font-size:0.7em` */\n    /*  makes the font 70% normal size  */\n    .small{\n        font-size:0.7em;\n    }\n\n\n    /* New ck-button */    \n    .ck-button.disabled{\n        pointer-events: none;\n        opacity: 0.5;\n    }\n    .ck-switch {\n        position: relative;\n    }\n    \n    .ck-switch input {\n        display: none;\n    }\n    \n    .off {\n        position: absolute;\n        top: 0px;\n        height: 100%;\n        width: 100%;\n        opacity: 1;\n    }\n    .on {\n        height: 100%;\n    }\n    .ck-button input:checked + .on {\n        opacity: 1;\n    }\n    .ck-button input:checked + div + .off {\n        opacity: 0;\n    }\n    \n    \n    .ck-button {\n        margin: -6px;\n        padding: 6px;\n        width: 100%;\n        height: 100%;\n        overflow: auto;\n    }\n    \n    .ck-button label {\n        height: 100%;\n        text-align: center;\n        float: left;\n        width: 100%;\n    }\n    \n    .ck-button label div {\n        margin: -6px;\n        padding: 6px;\n        text-align: center;\n        display: block;\n    }\n    \n    .ck-button label input {\n        position: absolute;\n        top: -20px;\n    }\n    .ck-button label div {\n/*ok        white-space: normal;*/\nwhite-space:pre-wrap;\n        word-break: break-word;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n/*\nHTML\n====\n<div>\n<md-button class=\"md-button ck-button ck-switch on off small\" \n    data-payload=\"1\" \n    data-buttontype=\"radio\"\n    data-radiogroup='group1'\n    data-topic=\"8\"\n    >\n    <div class=\"ck-button\">\n        <label class=\"ck-switch\">\n            <input type=\"checkbox\" unchecked>\n            <div style=\"background-color:#00cc00\" class=\"on\">btn<br>on</div>\n            <div style=\"background-color:#006600\" class=\"off\">btn<br>off</div>\n        </label>\n    </div>\n</md-button>\n</div>\n*/\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":160,"y":40,"wires":[[]]},{"id":"87b92f3cf3191bd6","type":"inject","z":"1d0438cd.328857","name":"hide tabs","props":[{"p":"payload"},{"p":"topic","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"tab\":\"Login\",\"tabs\":{\"show\":[\"Login\"],\"hide\":[\"Voice\",\"Vision\",\"Contact_Us\",\"Analytics\",\"Logout\"],\"disable\":[\"Voice\",\"Vision\",\"Contact_Us\",\"Analytics\",\"Logout\"]}}","payloadType":"json","x":160,"y":340,"wires":[["6a5a782a641e14ce"]]},{"id":"7ba45e58dcc6f252","type":"inject","z":"1d0438cd.328857","name":"show tabs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"tabs\":{\"show\":[\"Voice\",\"Vision\",\"Contact_Us\",\"Analytics\",\"Logout\"],\"disable\":[\"8\",\"9\"]}}","payloadType":"json","x":160,"y":380,"wires":[["6a5a782a641e14ce"]]},{"id":"666ded9fd706932f","type":"inject","z":"1d0438cd.328857","name":"hide tabs","props":[{"p":"payload"},{"p":"topic","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"{\"tab\":\"Login\",\"tabs\":{\"show\":[\"Login\"],\"hide\":[\"Voice\",\"Vision\",\"Contact_Us\",\"Analytics\",\"Logout\"],\"disable\":[\"Voice\",\"Vision\",\"Contact_Us\",\"Analytics\",\"Logout\"]}}","payloadType":"json","x":160,"y":300,"wires":[["6a5a782a641e14ce"]]},{"id":"6a5a782a641e14ce","type":"ui_ui_control","z":"1d0438cd.328857","name":"","events":"all","x":680,"y":340,"wires":[[]]},{"id":"4f56394b6ef347bc","type":"change","z":"1d0438cd.328857","name":"Redirect & Show","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"tab\": \"Analytics\",\t   \"tabs\":{\t       \"show\":[\t           \"Voice\",\t           \"Contact_Us\",\t           \"Video\",\t           \"Analytics\",\t           \"Logout\"\t       ],\t       \"enable\":[\t           \"Voice\",\t           \"Contact_Us\",\t           \"Video\",\t           \"Analytics\",\t           \"Logout\"\t       ]\t   }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":280,"wires":[["6a5a782a641e14ce"]]},{"id":"2daf9a66c50ff2a9","type":"ui_template","z":"1d0438cd.328857","group":"520f753e.322f2c","name":"top-bar logo","order":4,"width":0,"height":0,"format":"<style>\n    #top-bar-logo {\n    background-image: url(https://esgglobal.com/wp-content/uploads/2020/12/ESG-Logo-White_reduced.png);\n    background-size: contain;\n    background-repeat: no-repeat;\n    background-position: center;\n    height: 100%;\n    width: 100%;\n}\n</style>\n\n<script id=\"logo-script\" type=\"text/javascript\">\nfunction build(){\n    $(\"#top-bar-logo\").remove()\n    var logo = $('<div />').attr(\"id\",\"top-bar-logo\");\n    var topbar = $('.md-toolbar-tools');\n    topbar.append(logo)\n}\nfunction checkExistence(){\n    console.log($(\"#top-bar-logo\"))\n    if($(\"#top-bar-logo\").length > 0){\n        return\n    }\n    build()\n    setTimeout(checkExistence,100)\n}\n\nbuild()\nsetTimeout(checkExistence,100)\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":450,"y":420,"wires":[[]]},{"id":"967d7077ee6d5c38","type":"comment","z":"1d0438cd.328857","name":"Color:","info":"HEX #7acd00\nRGB (122,205,0)\nCMYK (40,0,100,20)","x":310,"y":80,"wires":[]},{"id":"21f6e6c1e673a54c","type":"inject","z":"1d0438cd.328857","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"start","payload":"true","payloadType":"bool","x":230,"y":500,"wires":[["af28c3373ee13398"]]},{"id":"af28c3373ee13398","type":"jimp-image","z":"1d0438cd.328857","name":"Logo","data":"https://esgglobal.com/wp-content/uploads/2020/12/ESG-Logo-White_reduced.png","dataType":"str","ret":"b64","parameter1":"50","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":350,"y":500,"wires":[["4a92d582e08c3e15"]]},{"id":"4a92d582e08c3e15","type":"ui_template","z":"1d0438cd.328857","group":"520f753e.322f2c","name":"logo","order":1,"width":"7","height":"4","format":"<img width=\"100%\" height=\"100%\" alt=\"logo\" src=\"{{msg.payload}}\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":490,"y":500,"wires":[[]]},{"id":"b624b5dba54857ca","type":"link in","z":"1d0438cd.328857","name":"hide","links":["a3a29174124420a6"],"x":575,"y":380,"wires":[["6a5a782a641e14ce"]]},{"id":"29eea6386c63801a","type":"change","z":"1d0438cd.328857","name":"","rules":[{"t":"set","p":"user","pt":"msg","to":"$trim($substringBefore($substringAfter(msg.payload, \",\"), \"!\"))","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":75,"y":240,"wires":[["bbc960140d813b0a","28c40d36c3ac685c"]],"l":false},{"id":"bbc960140d813b0a","type":"link out","z":"1d0438cd.328857","name":"smart_contract","mode":"link","links":["93d32be16325cd47"],"x":255,"y":240,"wires":[]},{"id":"28c40d36c3ac685c","type":"debug","z":"1d0438cd.328857","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":255,"y":280,"wires":[],"l":false},{"id":"cd042c1b4e4c0801","type":"debug","z":"608a78bbe84bdbb1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":180,"wires":[]},{"id":"42b6388fc201ac5f","type":"DID-Verify","z":"608a78bbe84bdbb1","name":"DID-Resolver","x":540,"y":220,"wires":[["cd042c1b4e4c0801","109a21e580ce522a"]]},{"id":"715ca886921ac945","type":"DID-Create","z":"608a78bbe84bdbb1","name":"","x":350,"y":220,"wires":[["42b6388fc201ac5f","1637ff7661b9e23e"]]},{"id":"e00b37b59bac8030","type":"debug","z":"608a78bbe84bdbb1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":300,"wires":[]},{"id":"552dae091f3ac071","type":"function","z":"608a78bbe84bdbb1","name":"Sample Data","func":"msg.data = {\n    timestamp:new Date().getTime(),\n//    hello:'World!',\n//    user : 'Mike',\n //   cash : '$1.5',\n    user : msg.user,\n    gas : 5,\n    data : '0x624'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":220,"wires":[["715ca886921ac945","e00b37b59bac8030"]]},{"id":"a735a514479afaa8","type":"inject","z":"608a78bbe84bdbb1","name":"TimeStamp","props":[{"p":"payload"},{"p":"user","v":"gilad","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":150,"y":160,"wires":[["552dae091f3ac071"]]},{"id":"0ac61f37dd40d17a","type":"comment","z":"608a78bbe84bdbb1","name":"DID-JWT available ","info":"https://github.com/uport-project/ethr-did/\n\nhttps://intellipaat.com/blog/tutorial/blockchain-tutorial/solidity-cheat-sheet/\n\ntx,origin msg.sender msg.gas. msg.value msg.data","x":150,"y":100,"wires":[]},{"id":"109a21e580ce522a","type":"change","z":"608a78bbe84bdbb1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"signer_id\" : signer.id  ,\t\"signer_type\" : signer.type ,\t\"signer_controller\" : signer.controller,\t\"signer.blockchainAccountId\" : signer.blockchainAccountId,\t\"data\" : data.data,\t\"gas\" : data.gas,\t\"user\" : data.user,\t\"issuer\" : issuer\t\t}","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"smart_contract","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["4f6b6d05406149b1","c0c56cc0b60533b4"]]},{"id":"4f6b6d05406149b1","type":"debug","z":"608a78bbe84bdbb1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"1637ff7661b9e23e","type":"debug","z":"608a78bbe84bdbb1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":140,"wires":[]},{"id":"b56ca8c60a962eef","type":"comment","z":"608a78bbe84bdbb1","name":"Smart Contract","info":"","x":140,"y":60,"wires":[]},{"id":"93d32be16325cd47","type":"link in","z":"608a78bbe84bdbb1","name":"","links":["bbc960140d813b0a"],"x":75,"y":300,"wires":[["552dae091f3ac071"]]},{"id":"700176cbf8b91eeb","type":"ui_toast","z":"608a78bbe84bdbb1","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"","x":710,"y":400,"wires":[[]]},{"id":"c0c56cc0b60533b4","type":"change","z":"608a78bbe84bdbb1","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Smart Contract Details:","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"\"Signer: \" & payload.signer_controller \t& \"\\nSigner Type: \" & payload.signer_type \t& \"\\nBlockchainAccountId: \" &  payload[\"signer.blockchainAccountId\"]\t& \"\\nData: \" & payload.data\t& \"\\nGas: \" & payload.gas\t& \"\\nUser: \" & payload.user\t& \"\\nIssuer: \" & payload.issuer\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":400,"wires":[["4e7a17f1b7f9248a"]],"l":false},{"id":"4e7a17f1b7f9248a","type":"function","z":"608a78bbe84bdbb1","name":"New Line","func":"msg.payload = msg.payload.replace(/(.{64})/g,'$1\\n');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":400,"wires":[["700176cbf8b91eeb"]]},{"id":"49d299e0809a0934","type":"comment","z":"f6f2187d.f17ca8","name":"ELT - Data Pipeline","info":"Extract-Load-Transform Data Movement\n\nhttps://www.youtube.com/watch?v=B6RDjs7D-qY\n\nhttps://www.youtube.com/watch?v=IF5YrYiV0sA\n\nETL:\n1. Most Reliable & Governable (for compliance)\n2. Structured but Complex\n3. Effective - Many Supporting Tools\n4. Takes more Time+Effort\n\nELT:\n1. Faster (12 hrs to 12 minutes)\n2. Good for Machine Learning\n3. Good for Analytics & Quick Insights\n4. Agile + Less Maintenance","x":130,"y":80,"wires":[]},{"id":"5f415dfa037b3e71","type":"inject","z":"f6f2187d.f17ca8","name":"inject","props":[{"p":"payload"},{"p":"filename","v":"$millis()&\".json\"","vt":"jsonata"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"datalake","payload":"true","payloadType":"bool","x":55,"y":180,"wires":[["ba55749994d783c6"]],"l":false},{"id":"ba55749994d783c6","type":"http request","z":"f6f2187d.f17ca8","name":"Extract","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.v2.emissions-api.org/api/v2/carbonmonoxide/average.json?country=DE&begin=2019-02-01&end=2019-03-01","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":140,"y":180,"wires":[["fd86705dd102e3be"]]},{"id":"fe0d6329041429bc","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.average","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["9f7fa79f7c3a0c0c","6d77f21b1a4c6566"]]},{"id":"fd86705dd102e3be","type":"file","z":"f6f2187d.f17ca8","name":"Load","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":270,"y":180,"wires":[["82146e43ef33c21f","f97ef72df40a2625","b701cfc9638e4ca9"]]},{"id":"82146e43ef33c21f","type":"file in","z":"f6f2187d.f17ca8","name":"Storage","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":120,"wires":[["86118746a4ed5b80"]]},{"id":"7a84f0ed813e0aa8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":675,"y":200,"wires":[],"l":false},{"id":"86118746a4ed5b80","type":"change","z":"f6f2187d.f17ca8","name":"Transform","rules":[{"t":"set","p":"payload","pt":"msg","to":"$trim(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[["4931b589db60d63a"]]},{"id":"f97ef72df40a2625","type":"split","z":"f6f2187d.f17ca8","name":"","splt":"}","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":220,"wires":[["7e4ba242cf8c9b97"]]},{"id":"7e4ba242cf8c9b97","type":"join","z":"f6f2187d.f17ca8","name":"","mode":"custom","build":"array","property":"payload.average","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":220,"wires":[["7a84f0ed813e0aa8","fe0d6329041429bc"]]},{"id":"4931b589db60d63a","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":575,"y":120,"wires":[],"l":false},{"id":"b701cfc9638e4ca9","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":395,"y":180,"wires":[],"l":false},{"id":"59a486f7e14a201d","type":"inject","z":"f6f2187d.f17ca8","name":"inject","props":[{"p":"payload"},{"p":"filename","v":"$millis()&\".json\"","vt":"jsonata"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"datalake","payload":"true","payloadType":"bool","x":95,"y":280,"wires":[["919e9fac6b39e15e"]],"l":false},{"id":"919e9fac6b39e15e","type":"file in","z":"f6f2187d.f17ca8","name":"Read Storage","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":220,"y":280,"wires":[["f2495fa911f7ee63"]]},{"id":"f2495fa911f7ee63","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":355,"y":280,"wires":[],"l":false},{"id":"9f7fa79f7c3a0c0c","type":"function","z":"f6f2187d.f17ca8","name":"Populate","func":"var m = [\n    {topic:\"X\", payload:msg.payload[0]},\n    {topic:\"Y\", payload:msg.payload[1]},\n    {topic:\"Z\", payload:msg.payload[2]}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":340,"wires":[["330d8390bef12586"]]},{"id":"330d8390bef12586","type":"ui_chart","z":"f6f2187d.f17ca8","d":true,"name":"","group":"0ee2c4781f4e9369","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":340,"wires":[[]]},{"id":"ecbee44da0d8adb5","type":"ui_statechart","z":"f6f2187d.f17ca8","group":"0ee2c4781f4e9369","order":1,"width":"15","height":"5","name":"","label":"","series":"A,B,C,D,E,F,G,H,I,J,K,L","showvalues":true,"colorON":"#7acd00","colorOFF":"#e61414","colorFromTheme":false,"fontColorFromTheme":true,"textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSeries":"","x":550,"y":460,"wires":[]},{"id":"1e6a16b47e508b22","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":400,"wires":[["a0656769a1cfcb7c"]]},{"id":"a0656769a1cfcb7c","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = [\n{series:\"A\",value:123,state:true},\n{series:\"B\",value:120,state:true},\n{series:\"C\",value:125,state:true},\n{series:\"D\",value:130,state:true},\n{series:\"E\",value:131,state:true},\n{series:\"F\",value:127,state:true},\n{series:\"G\",value:133,state:true},\n{series:\"H\",value:131,state:true}\n\n\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":480,"wires":[[]]},{"id":"6d77f21b1a4c6566","type":"function","z":"f6f2187d.f17ca8","name":"StateChart","func":"msg.title = \"esg\";\nmsg.payload = [\n{series:\"A\",value:msg.payload[0],state:true},\n{series:\"B\",value:msg.payload[1],state:true},\n{series:\"C\",value:msg.payload[2],state:true},\n{series:\"D\",value:msg.payload[3],state:true},\n{series:\"E\",value:msg.payload[4],state:true},\n{series:\"F\",value:msg.payload[5],state:true},\n{series:\"G\",value:msg.payload[6],state:true},\n{series:\"H\",value:msg.payload[7],state:true},\n{series:\"I\",value:msg.payload[8],state:true},\n{series:\"J\",value:msg.payload[9],state:true},\n{series:\"K\",value:msg.payload[10],state:true},\n{series:\"L\",value:msg.payload[11],state:true}\n\n\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":400,"wires":[["ecbee44da0d8adb5"]]},{"id":"baab0f8a8242b0ad","type":"ui_form","z":"c8a8253ceebfe538","name":"","label":"Contact Us","group":"97336654.b654c8","order":1,"width":0,"height":0,"options":[{"label":"Full Name","value":"name","type":"text","required":true,"rows":null},{"label":"E-mail","value":"email","type":"email","required":true,"rows":null},{"label":"Subject","value":"subject","type":"text","required":true,"rows":null},{"label":"How can we help you?","value":"message","type":"multiline","required":true,"rows":1},{"label":"I agree to the Terms of Service","value":"tos","type":"checkbox","required":true,"rows":null}],"formValue":{"name":"","email":"","subject":"","message":"","tos":false},"payload":"","submit":"Send","cancel":"Reset","topic":"topic","topicType":"msg","splitLayout":"","x":90,"y":80,"wires":[["542f0ebe431e60bf","d43cef11702b2b16","60d2e8808641f603"]]},{"id":"542f0ebe431e60bf","type":"debug","z":"c8a8253ceebfe538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":190,"y":20,"wires":[]},{"id":"018c7dee651ea5e7","type":"inject","z":"c8a8253ceebfe538","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"start","payload":"true","payloadType":"bool","x":110,"y":280,"wires":[["924462aa2601ca1b"]]},{"id":"924462aa2601ca1b","type":"jimp-image","z":"c8a8253ceebfe538","name":"Logo","data":"https://esgglobal.com/wp-content/uploads/2020/12/ESG-Logo-White_reduced.png","dataType":"str","ret":"b64","parameter1":"50","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":230,"y":280,"wires":[["c96eef760e571565"]]},{"id":"c96eef760e571565","type":"ui_template","z":"c8a8253ceebfe538","d":true,"group":"97336654.b654c8","name":"logo","order":4,"width":12,"height":5,"format":"<img width=\"100%\" height=\"100%\" alt=\"logo\" src=\"{{msg.payload}}\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":370,"y":280,"wires":[[]]},{"id":"053ec2eb1a33bfb3","type":"ui_toast","z":"c8a8253ceebfe538","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Message Sent!","name":"","x":410,"y":80,"wires":[["4f10fe5c9001d044"]]},{"id":"189dd815aef6a5ed","type":"inject","z":"c8a8253ceebfe538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":200,"wires":[["1d2eebda8094dce6"]]},{"id":"1d2eebda8094dce6","type":"function","z":"c8a8253ceebfe538","name":"reset","func":"msg.payload = {\"name\": \"\", \"email\": \"\", \"subject\":\"\", \"message\": \"\",\"tos\":false}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":90,"y":140,"wires":[["baab0f8a8242b0ad"]]},{"id":"4f10fe5c9001d044","type":"function","z":"c8a8253ceebfe538","name":"reset","func":"msg.payload = {\"name\": \"\", \"email\": \"\", \"subject\":\"\", \"message\": \"\",\"tos\":false}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":80,"wires":[["e9bdd5a86b7bd902","baab0f8a8242b0ad"]]},{"id":"e9bdd5a86b7bd902","type":"debug","z":"c8a8253ceebfe538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"d43cef11702b2b16","type":"change","z":"c8a8253ceebfe538","name":"insert","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t\"name\" : msg.payload.name,\t\"email\" : msg.payload.email,\t\"date\" : $now(),\t\"subject\": msg.payload.subject,\t\"message\" : msg.payload.message\t\t\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[["d647c7c56211ce1a"]]},{"id":"a3bfca584ae14dd4","type":"debug","z":"c8a8253ceebfe538","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.fields","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":140,"wires":[]},{"id":"8a95eec2c660aa73","type":"comment","z":"c8a8253ceebfe538","name":"airtable","info":"API Key\nkeybWxGW1AfEc5XaK\n\nBaseID:\nappTKk2QiecYTvD7a","x":430,"y":200,"wires":[]},{"id":"60d2e8808641f603","type":"change","z":"c8a8253ceebfe538","name":"feedback","rules":[{"t":"set","p":"payload","pt":"msg","to":"Thanks for your feedback","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":80,"wires":[["053ec2eb1a33bfb3"]]},{"id":"d647c7c56211ce1a","type":"airtable out","z":"c8a8253ceebfe538","airtable":"5725ff8c.4bf6c","operation":"create","outputType":"multiple","table":"contact_us","name":"","x":480,"y":140,"wires":[["a3bfca584ae14dd4"]]},{"id":"a709c558.00bc38","type":"ui_template","z":"c8a8253ceebfe538","d":true,"group":"97336654.b654c8","name":"Process Image","order":2,"width":12,"height":3,"format":"<div style=\"display: flex; justify-content: center;\"><iframe src=\"https://avatars.plurk.com/9854110-big2.jpg\" width=\"320\" height=\"250\" frameborder=\"0\"></iframe></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":180,"y":400,"wires":[[]]},{"id":"54a1c1ce.75a4a8","type":"ui_iframe","z":"c8a8253ceebfe538","d":true,"group":"97336654.b654c8","name":"","order":3,"width":12,"height":5,"url":"https://avatars.plurk.com/9854110-big2.jpg","origin":"","scale":"100","x":160,"y":440,"wires":[[]]},{"id":"36bd6e22247a36e5","type":"inject","z":"e8730ab9b6b2bef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"$round((5000*500/1000)/10800,2)","payloadType":"jsonata","x":90,"y":100,"wires":[[]]},{"id":"c33fb947953b3fa7","type":"ui_artlessgauge","z":"e8730ab9b6b2bef6","group":"a2d91eaab3867062","order":2,"width":4,"height":4,"name":"Compute","icon":"mi-offline_bolt","label":"Performance Improvement","unit":"ms","layout":"radial","decimals":"3","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":true,"animate":true,"sectors":[{"val":0.01,"col":"#299900","t":"min","dot":0},{"val":0.05,"col":"#e6e600","t":"sec","dot":0},{"val":0.06,"col":"#ca3400","t":"sec","dot":0},{"val":0.1,"col":"#ca3400","t":"max","dot":0}],"lineWidth":"15","bgcolorFromTheme":true,"diffCenter":"","x":820,"y":280,"wires":[]},{"id":"f5646403fa58da3b","type":"ui_artlessgauge","z":"e8730ab9b6b2bef6","group":"a2d91eaab3867062","order":3,"width":4,"height":4,"name":"Cost","icon":"mi-monetization_on","label":"Size Reduction","unit":"%","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":true,"animate":true,"sectors":[{"val":0,"col":"#ca3434","t":"min","dot":0},{"val":50,"col":"#e6e600","t":"sec","dot":0},{"val":89,"col":"#299900","t":"sec","dot":0},{"val":100,"col":"#299900","t":"max","dot":0}],"lineWidth":"15","bgcolorFromTheme":true,"diffCenter":"","x":1070,"y":320,"wires":[]},{"id":"1c22745d38aa9f50","type":"ui_dropdown","z":"e8730ab9b6b2bef6","d":true,"name":"","label":"","tooltip":"Slicer 1","place":"Select option","group":"8d3dd0ac14fcb3cc","order":5,"width":5,"height":2,"passthru":true,"multiple":false,"options":[{"label":"ONE","value":"1","type":"str"},{"label":"TWO","value":"2","type":"str"},{"label":"THREE","value":"3","type":"str"},{"label":"FOUR","value":"4","type":"str"},{"label":"FIVE","value":"5","type":"str"},{"label":"SIX","value":"6","type":"str"},{"label":"SEVEN","value":"7","type":"str"},{"label":"EIGHT","value":"8","type":"str"},{"label":"NINE","value":"9","type":"str"},{"label":"TEN","value":"10","type":"str"}],"payload":"","topic":"","topicType":"str","x":70,"y":660,"wires":[[]]},{"id":"2d7834b11b03b783","type":"ui_dropdown","z":"e8730ab9b6b2bef6","name":"","label":"Region","tooltip":"Select a region of the nodes storing these files","place":"Select nodes","group":"8d3dd0ac14fcb3cc","order":4,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"All","value":"All","type":"str"},{"label":"US East","value":"US East","type":"str"},{"label":"US West","value":"US West","type":"str"},{"label":"Europe","value":"Europe","type":"str"},{"label":"South America","value":"South America","type":"str"},{"label":"Asia Pacific","value":"Asia Pacific","type":"str"},{"label":"Canada","value":"Canada","type":"str"},{"label":"Africa","value":"Africa","type":"str"},{"label":"Middle East","value":"Middle East","type":"str"},{"label":"China","value":"China","type":"str"}],"payload":"","topic":"1","topicType":"str","x":100,"y":820,"wires":[["304a7d66b512906f"]]},{"id":"6a4efb705d53a5f1","type":"ui_dropdown","z":"e8730ab9b6b2bef6","name":"Country","label":"Country","tooltip":"Select a country of the nodes storing these files","place":"Select nodes","group":"8d3dd0ac14fcb3cc","order":6,"width":5,"height":"1","passthru":true,"multiple":false,"options":[{"label":"All","value":"All","type":"str"},{"label":"US","value":"US","type":"str"},{"label":"IE","value":"IE","type":"str"},{"label":"GB","value":"GB","type":"str"},{"label":"FR","value":"FR","type":"str"},{"label":"DE","value":"DE","type":"str"},{"label":"BR","value":"BR","type":"str"},{"label":"SG","value":"SG","type":"str"},{"label":"AU","value":"AU","type":"str"},{"label":"JP","value":"JP","type":"str"},{"label":"KR","value":"KR","type":"str"},{"label":"IN","value":"IN","type":"str"},{"label":"KA","value":"KA","type":"str"},{"label":"ZA","value":"ZA","type":"str"},{"label":"SE","value":"SE","type":"str"},{"label":"IT","value":"IT","type":"str"},{"label":"BH","value":"BH","type":"str"},{"label":"HK","value":"HK","type":"str"},{"label":"CN","value":"CN","type":"str"}],"payload":"","topic":"1","topicType":"str","x":80,"y":880,"wires":[["4228a7346be0d75c"]]},{"id":"4daeebddad8656d9","type":"ui_dropdown","z":"e8730ab9b6b2bef6","name":"","label":"City","tooltip":"Select a city of the nodes storing these files","place":"Select nodes","group":"8d3dd0ac14fcb3cc","order":7,"width":5,"height":"1","passthru":true,"multiple":false,"options":[{"label":"All","value":"All","type":"str"},{"label":"Virginia","value":"Virginia","type":"str"},{"label":"Ohio","value":"Ohio","type":"str"},{"label":"California","value":"California","type":"str"},{"label":"Oregon","value":"Oregon","type":"str"},{"label":"Ireland","value":"Ireland","type":"str"},{"label":"London","value":"London","type":"str"},{"label":"Paris","value":"Paris","type":"str"},{"label":"Frankfurt","value":"Frankfurt","type":"str"},{"label":"São Paulo","value":"São Paulo","type":"str"},{"label":"Singapore","value":"Singapore","type":"str"},{"label":"Sydney","value":"Sydney","type":"str"},{"label":"Tokyo","value":"Tokyo","type":"str"},{"label":"Seoul","value":"Seoul","type":"str"},{"label":"Mumbai","value":"Mumbai","type":"str"},{"label":"Canada Central","value":"Canada Central","type":"str"},{"label":"Cape Town","value":"Cape Town","type":"str"},{"label":"Stockholm","value":"Stockholm","type":"str"},{"label":"Milan","value":"Milan","type":"str"},{"label":"Bahrain","value":"Bahrain","type":"str"},{"label":"Hong Kong","value":"Hong Kong","type":"str"},{"label":"Beijing","value":"Beijing","type":"str"},{"label":"Ningxia","value":"Ningxia","type":"str"}],"payload":"","topic":"1","topicType":"str","x":70,"y":940,"wires":[["2f3a3aa51930f191"]]},{"id":"99a72b719a939fd7","type":"inject","z":"e8730ab9b6b2bef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"one","payload":"$ceil($random()*100)","payloadType":"jsonata","x":90,"y":180,"wires":[[]]},{"id":"f3c1c84252a663b8","type":"inject","z":"e8730ab9b6b2bef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"$ceil($random()*100)","payloadType":"jsonata","x":90,"y":280,"wires":[[]]},{"id":"6714021dd5dda877","type":"ui_valuetrail","z":"e8730ab9b6b2bef6","d":true,"group":"a2d91eaab3867062","order":6,"width":5,"height":"4","name":"Performance","label":"","unit":"x","blur":true,"minmax":true,"allowtoggle":true,"showvalue":true,"decimals":"0","colorLine":"#ff9900","colorFromTheme":true,"stroke":2,"property":"payload","pointcount":8,"x":1070,"y":520,"wires":[]},{"id":"b093c9e0a31ad74c","type":"ui_chart","z":"e8730ab9b6b2bef6","d":true,"name":"","group":"a2d91eaab3867062","order":5,"width":4,"height":4,"label":"Total Workload (mb)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#0097a7","#00bcd4","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":560,"y":140,"wires":[[]]},{"id":"8ed7624edadd5aab","type":"inject","z":"e8730ab9b6b2bef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"two","payload":"$ceil($random()*100)","payloadType":"jsonata","x":90,"y":220,"wires":[[]]},{"id":"3c8e03b698ef6966","type":"ui_worldmap","z":"e8730ab9b6b2bef6","group":"dfafc2e81979a551","order":1,"width":16,"height":"7","name":"Decentralized Storage Map","lat":"","lon":"","zoom":"1","layer":"Esri Dark Grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/decentralized","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,SW","x":760,"y":660,"wires":[]},{"id":"4a440c2f8b2b6a18","type":"change","z":"e8730ab9b6b2bef6","name":"Nodes","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t\t[\t  {\t    \"name\": \"us-east-1\",\t    \"region\": \"US East\",\t    \"city\": \"Virginia\",\t    \"lat\": 38.9940541,\t    \"lon\": -77.4524237,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-east-2\",\t    \"region\": \"US East\",\t    \"city\": \"Ohio\",\t    \"lat\": 40.0946354,\t    \"lon\": -82.7541337,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-west-1\",\t    \"region\": \"US West\",\t    \"city\": \"California\",\t    \"lat\": 37.44368,\t    \"lon\": -122.153664,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-west-2\",\t    \"region\": \"US West\",\t    \"city\": \"Oregon\",\t    \"lat\": 45.9174667,\t    \"lon\": -119.2684488,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Ireland\",\t    \"lat\": 53.4056545,\t    \"lon\": -6.224503,\t    \"country\": \"IE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-2\",\t    \"region\": \"Europe\",\t    \"city\": \"London\",\t    \"lat\": 51.5085036,\t    \"lon\": -0.0609266,\t    \"country\": \"GB\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-3\",\t    \"region\": \"Europe\",\t    \"city\": \"Paris\",\t    \"lat\": 48.6009709,\t    \"lon\": 2.2976644,\t    \"country\": \"FR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-central-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Frankfurt\",\t    \"lat\": 50.0992094,\t    \"lon\": 8.6303932,\t    \"country\": \"DE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"sa-east-1\",\t    \"region\": \"South America\",\t    \"city\": \"São Paulo\",\t    \"lat\": -23.4925798,\t    \"lon\": -46.8105593,\t    \"country\": \"BR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-southeast-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Singapore\",\t    \"lat\": 1.3218269,\t    \"lon\": 103.6930643,\t    \"country\": \"SG\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-southeast-2\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Sydney\",\t    \"lat\": -33.9117717,\t    \"lon\": 151.1907535,\t    \"country\": \"AU\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-northeast-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Tokyo\",\t    \"lat\": 35.617436,\t    \"lon\": 139.7459176,\t    \"country\": \"JP\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-northeast-2\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Seoul\",\t    \"lat\": 37.5616592,\t    \"lon\": 126.8736237,\t    \"country\": \"KR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-south-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Mumbai\",\t    \"lat\": 19.2425503,\t    \"lon\": 72.9667878,\t    \"country\": \"IN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ca-central-1\",\t    \"region\": \"Canada\",\t    \"city\": \"Canada Central\",\t    \"lat\": 45.5,\t    \"lon\": -73.6,\t    \"country\": \"CA\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"af-south-1\",\t    \"region\": \"Africa\",\t    \"city\": \"Cape Town\",\t    \"lat\": -33.914651,\t    \"lon\": 18.3758801,\t    \"country\": \"ZA\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-north-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Stockholm\",\t    \"lat\": 59.326242,\t    \"lon\": 17.8419717,\t    \"country\": \"SE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-south-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Milan\",\t    \"lat\": 45.4628328,\t    \"lon\": 9.1076927,\t    \"country\": \"IT\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"me-south-1\",\t    \"region\": \"Middle East\",\t    \"city\": \"Bahrain\",\t    \"lat\": 25.941298,\t    \"lon\": 50.3073907,\t    \"country\": \"BH\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-east-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Hong Kong\",\t    \"lat\": 22.2908475,\t    \"lon\": 114.2723379,\t    \"country\": \"HK\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"cn-north-1\",\t    \"region\": \"China\",\t    \"city\": \"Beijing\",\t    \"lat\": 39.8094478,\t    \"lon\": 116.5783234,\t    \"country\": \"CN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"cn-northwest-1\",\t    \"region\": \"China\",\t    \"city\": \"Ningxia\",\t    \"lat\": 37.5024418,\t    \"lon\": 105.1627193,\t    \"country\": \"CN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":640,"wires":[["3c8e03b698ef6966"]]},{"id":"708f5dc04af22e9c","type":"inject","z":"e8730ab9b6b2bef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"9","topic":"","payload":"1","payloadType":"str","x":435,"y":620,"wires":[["4a440c2f8b2b6a18"]],"l":false},{"id":"1ade27f32e47a368","type":"ui_date_picker","z":"e8730ab9b6b2bef6","name":"","label":"Date","group":"8d3dd0ac14fcb3cc","order":2,"width":5,"height":"1","passthru":true,"topic":"topic","topicType":"msg","x":90,"y":520,"wires":[["5e76453cdf227f90"]]},{"id":"4a3f674d762ebffd","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":875,"y":420,"wires":[],"l":false},{"id":"e83412f2b13de71b","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":835,"y":780,"wires":[],"l":false},{"id":"0453b73cf094d9b8","type":"change","z":"e8730ab9b6b2bef6","name":"Nodes","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\t  \"nodes\": {\t    \"aws\":\t\t[\t  {\t    \"name\": \"us-east-1\",\t    \"region\": \"US East\",\t    \"city\": \"Virginia\",\t    \"lat\": 38.9940541,\t    \"lon\": -77.4524237,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-east-2\",\t    \"region\": \"US East\",\t    \"city\": \"Ohio\",\t    \"lat\": 40.0946354,\t    \"lon\": -82.7541337,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-west-1\",\t    \"region\": \"US West\",\t    \"city\": \"California\",\t    \"lat\": 37.44368,\t    \"lon\": -122.153664,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-west-2\",\t    \"region\": \"US West\",\t    \"city\": \"Oregon\",\t    \"lat\": 45.9174667,\t    \"lon\": -119.2684488,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Ireland\",\t    \"lat\": 53.4056545,\t    \"lon\": -6.224503,\t    \"country\": \"IE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-2\",\t    \"region\": \"Europe\",\t    \"city\": \"London\",\t    \"lat\": 51.5085036,\t    \"lon\": -0.0609266,\t    \"country\": \"GB\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-3\",\t    \"region\": \"Europe\",\t    \"city\": \"Paris\",\t    \"lat\": 48.6009709,\t    \"lon\": 2.2976644,\t    \"country\": \"FR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-central-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Frankfurt\",\t    \"lat\": 50.0992094,\t    \"lon\": 8.6303932,\t    \"country\": \"DE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"sa-east-1\",\t    \"region\": \"South America\",\t    \"city\": \"São Paulo\",\t    \"lat\": -23.4925798,\t    \"lon\": -46.8105593,\t    \"country\": \"BR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-southeast-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Singapore\",\t    \"lat\": 1.3218269,\t    \"lon\": 103.6930643,\t    \"country\": \"SG\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-southeast-2\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Sydney\",\t    \"lat\": -33.9117717,\t    \"lon\": 151.1907535,\t    \"country\": \"AU\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-northeast-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Tokyo\",\t    \"lat\": 35.617436,\t    \"lon\": 139.7459176,\t    \"country\": \"JP\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-northeast-2\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Seoul\",\t    \"lat\": 37.5616592,\t    \"lon\": 126.8736237,\t    \"country\": \"KR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-south-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Mumbai\",\t    \"lat\": 19.2425503,\t    \"lon\": 72.9667878,\t    \"country\": \"IN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ca-central-1\",\t    \"region\": \"Canada\",\t    \"city\": \"Canada Central\",\t    \"lat\": 45.5,\t    \"lon\": -73.6,\t    \"country\": \"CA\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"af-south-1\",\t    \"region\": \"Africa\",\t    \"city\": \"Cape Town\",\t    \"lat\": -33.914651,\t    \"lon\": 18.3758801,\t    \"country\": \"ZA\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-north-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Stockholm\",\t    \"lat\": 59.326242,\t    \"lon\": 17.8419717,\t    \"country\": \"SE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-south-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Milan\",\t    \"lat\": 45.4628328,\t    \"lon\": 9.1076927,\t    \"country\": \"IT\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"me-south-1\",\t    \"region\": \"Middle East\",\t    \"city\": \"Bahrain\",\t    \"lat\": 25.941298,\t    \"lon\": 50.3073907,\t    \"country\": \"BH\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-east-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Hong Kong\",\t    \"lat\": 22.2908475,\t    \"lon\": 114.2723379,\t    \"country\": \"HK\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"cn-north-1\",\t    \"region\": \"China\",\t    \"city\": \"Beijing\",\t    \"lat\": 39.8094478,\t    \"lon\": 116.5783234,\t    \"country\": \"CN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"cn-northwest-1\",\t    \"region\": \"China\",\t    \"city\": \"Ningxia\",\t    \"lat\": 37.5024418,\t    \"lon\": 105.1627193,\t    \"country\": \"CN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  }\t]}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1040,"wires":[["b5e5624dcbd8cf61","d324d1064e30c3d9"]]},{"id":"b5e5624dcbd8cf61","type":"change","z":"e8730ab9b6b2bef6","name":"filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"$filter(\t   payload.nodes.aws,\t   function($v, $i, $a) \t   {   $v.region = topic }\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1040,"wires":[["87d08efe01432006"]]},{"id":"0bc921cce0594d21","type":"inject","z":"e8730ab9b6b2bef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Europe","payloadType":"str","x":410,"y":1060,"wires":[["0453b73cf094d9b8"]]},{"id":"87d08efe01432006","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":835,"y":1040,"wires":[],"l":false},{"id":"d324d1064e30c3d9","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":635,"y":1100,"wires":[],"l":false},{"id":"edab8696c5eccfef","type":"change","z":"e8730ab9b6b2bef6","name":"Nodes","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t  \"nodes\": {\t    \"aws\":\t\t[\t  {\t    \"name\": \"us-east-1\",\t    \"region\": \"US East\",\t    \"city\": \"Virginia\",\t    \"lat\": 38.9940541,\t    \"lon\": -77.4524237,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-east-2\",\t    \"region\": \"US East\",\t    \"city\": \"Ohio\",\t    \"lat\": 40.0946354,\t    \"lon\": -82.7541337,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-west-1\",\t    \"region\": \"US West\",\t    \"city\": \"California\",\t    \"lat\": 37.44368,\t    \"lon\": -122.153664,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-west-2\",\t    \"region\": \"US West\",\t    \"city\": \"Oregon\",\t    \"lat\": 45.9174667,\t    \"lon\": -119.2684488,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Ireland\",\t    \"lat\": 53.4056545,\t    \"lon\": -6.224503,\t    \"country\": \"IE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-2\",\t    \"region\": \"Europe\",\t    \"city\": \"London\",\t    \"lat\": 51.5085036,\t    \"lon\": -0.0609266,\t    \"country\": \"GB\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-3\",\t    \"region\": \"Europe\",\t    \"city\": \"Paris\",\t    \"lat\": 48.6009709,\t    \"lon\": 2.2976644,\t    \"country\": \"FR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-central-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Frankfurt\",\t    \"lat\": 50.0992094,\t    \"lon\": 8.6303932,\t    \"country\": \"DE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"sa-east-1\",\t    \"region\": \"South America\",\t    \"city\": \"São Paulo\",\t    \"lat\": -23.4925798,\t    \"lon\": -46.8105593,\t    \"country\": \"BR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-southeast-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Singapore\",\t    \"lat\": 1.3218269,\t    \"lon\": 103.6930643,\t    \"country\": \"SG\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-southeast-2\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Sydney\",\t    \"lat\": -33.9117717,\t    \"lon\": 151.1907535,\t    \"country\": \"AU\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-northeast-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Tokyo\",\t    \"lat\": 35.617436,\t    \"lon\": 139.7459176,\t    \"country\": \"JP\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-northeast-2\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Seoul\",\t    \"lat\": 37.5616592,\t    \"lon\": 126.8736237,\t    \"country\": \"KR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-south-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Mumbai\",\t    \"lat\": 19.2425503,\t    \"lon\": 72.9667878,\t    \"country\": \"IN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ca-central-1\",\t    \"region\": \"Canada\",\t    \"city\": \"Canada Central\",\t    \"lat\": 45.5,\t    \"lon\": -73.6,\t    \"country\": \"CA\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"af-south-1\",\t    \"region\": \"Africa\",\t    \"city\": \"Cape Town\",\t    \"lat\": -33.914651,\t    \"lon\": 18.3758801,\t    \"country\": \"ZA\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-north-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Stockholm\",\t    \"lat\": 59.326242,\t    \"lon\": 17.8419717,\t    \"country\": \"SE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-south-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Milan\",\t    \"lat\": 45.4628328,\t    \"lon\": 9.1076927,\t    \"country\": \"IT\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"me-south-1\",\t    \"region\": \"Middle East\",\t    \"city\": \"Bahrain\",\t    \"lat\": 25.941298,\t    \"lon\": 50.3073907,\t    \"country\": \"BH\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-east-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Hong Kong\",\t    \"lat\": 22.2908475,\t    \"lon\": 114.2723379,\t    \"country\": \"HK\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"cn-north-1\",\t    \"region\": \"China\",\t    \"city\": \"Beijing\",\t    \"lat\": 39.8094478,\t    \"lon\": 116.5783234,\t    \"country\": \"CN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"cn-northwest-1\",\t    \"region\": \"China\",\t    \"city\": \"Ningxia\",\t    \"lat\": 37.5024418,\t    \"lon\": 105.1627193,\t    \"country\": \"CN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  }\t]}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":900,"wires":[["6bab10a1e5d682a5","d6a01b6c2f683f9c"]]},{"id":"6bab10a1e5d682a5","type":"change","z":"e8730ab9b6b2bef6","name":"filter","rules":[{"t":"set","p":"command","pt":"msg","to":"{\"command\":{\"clear\":\"unknown\"}}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"$filter(\t   payload.nodes.aws,\t   function($v, $i, $a) \t   {   $v.region = region or  $v.country = country  or  $v.city = city}\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":780,"wires":[["e83412f2b13de71b","3c8e03b698ef6966"]]},{"id":"f7bd263642958ebf","type":"function","z":"e8730ab9b6b2bef6","name":"Remove layer","func":"\nmsg.payload = {command:{clear:\"Terrain\"}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":580,"wires":[["3c8e03b698ef6966"]]},{"id":"100261ec25044c85","type":"ui_button","z":"e8730ab9b6b2bef6","name":"","group":"8d3dd0ac14fcb3cc","order":8,"width":5,"height":1,"passthru":false,"label":"Clear","tooltip":"Clear all nodes from the map","color":"#FBFBFB","bgcolor":"#464646","icon":"mi-location_off","payload":"1","payloadType":"str","topic":"","topicType":"str","x":270,"y":580,"wires":[["f7bd263642958ebf","feebd450a9decf86","8b566a5046b50539"]]},{"id":"feebd450a9decf86","type":"function","z":"e8730ab9b6b2bef6","name":"","func":"msg.payload = {\"command\":{\"clear\":\"unknown\"}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":540,"wires":[["3c8e03b698ef6966"]]},{"id":"0c02757b7f0bd7e4","type":"inject","z":"e8730ab9b6b2bef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":435,"y":720,"wires":[["1741317710b2ba60"]],"l":false},{"id":"1741317710b2ba60","type":"change","z":"e8730ab9b6b2bef6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"clear\":\"unknown\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":720,"wires":[["3c8e03b698ef6966"]],"l":false},{"id":"304a7d66b512906f","type":"switch","z":"e8730ab9b6b2bef6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"All","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":820,"wires":[["22b9f3abf43d78bc"],["ec81254263b785cf"]]},{"id":"22b9f3abf43d78bc","type":"change","z":"e8730ab9b6b2bef6","name":"All Nodes","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t\t[\t   {\t       \"name\": \"us-east-1\",\t       \"region\": \"US East\",\t       \"city\": \"Virginia\",\t       \"lat\": 38.9940541,\t       \"lon\": -77.4524237,\t       \"country\": \"US\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"us-east-2\",\t       \"region\": \"US East\",\t       \"city\": \"Ohio\",\t       \"lat\": 40.0946354,\t       \"lon\": -82.7541337,\t       \"country\": \"US\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"us-west-1\",\t       \"region\": \"US West\",\t       \"city\": \"California\",\t       \"lat\": 37.44368,\t       \"lon\": -122.153664,\t       \"country\": \"US\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"us-west-2\",\t       \"region\": \"US West\",\t       \"city\": \"Oregon\",\t       \"lat\": 45.9174667,\t       \"lon\": -119.2684488,\t       \"country\": \"US\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-west-1\",\t       \"region\": \"Europe\",\t       \"city\": \"Ireland\",\t       \"lat\": 53.4056545,\t       \"lon\": -6.224503,\t       \"country\": \"IE\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-west-2\",\t       \"region\": \"Europe\",\t       \"city\": \"London\",\t       \"lat\": 51.5085036,\t       \"lon\": -0.0609266,\t       \"country\": \"GB\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-west-3\",\t       \"region\": \"Europe\",\t       \"city\": \"Paris\",\t       \"lat\": 48.6009709,\t       \"lon\": 2.2976644,\t       \"country\": \"FR\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-central-1\",\t       \"region\": \"Europe\",\t       \"city\": \"Frankfurt\",\t       \"lat\": 50.0992094,\t       \"lon\": 8.6303932,\t       \"country\": \"DE\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"sa-east-1\",\t       \"region\": \"South America\",\t       \"city\": \"São Paulo\",\t       \"lat\": -23.4925798,\t       \"lon\": -46.8105593,\t       \"country\": \"BR\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-southeast-1\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Singapore\",\t       \"lat\": 1.3218269,\t       \"lon\": 103.6930643,\t       \"country\": \"SG\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-southeast-2\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Sydney\",\t       \"lat\": -33.9117717,\t       \"lon\": 151.1907535,\t       \"country\": \"AU\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-northeast-1\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Tokyo\",\t       \"lat\": 35.617436,\t       \"lon\": 139.7459176,\t       \"country\": \"JP\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-northeast-2\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Seoul\",\t       \"lat\": 37.5616592,\t       \"lon\": 126.8736237,\t       \"country\": \"KR\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-south-1\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Mumbai\",\t       \"lat\": 19.2425503,\t       \"lon\": 72.9667878,\t       \"country\": \"IN\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ca-central-1\",\t       \"region\": \"Canada\",\t       \"city\": \"Canada Central\",\t       \"lat\": 45.5,\t       \"lon\": -73.6,\t       \"country\": \"CA\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"af-south-1\",\t       \"region\": \"Africa\",\t       \"city\": \"Cape Town\",\t       \"lat\": -33.914651,\t       \"lon\": 18.3758801,\t       \"country\": \"ZA\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-north-1\",\t       \"region\": \"Europe\",\t       \"city\": \"Stockholm\",\t       \"lat\": 59.326242,\t       \"lon\": 17.8419717,\t       \"country\": \"SE\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-south-1\",\t       \"region\": \"Europe\",\t       \"city\": \"Milan\",\t       \"lat\": 45.4628328,\t       \"lon\": 9.1076927,\t       \"country\": \"IT\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"me-south-1\",\t       \"region\": \"Middle East\",\t       \"city\": \"Bahrain\",\t       \"lat\": 25.941298,\t       \"lon\": 50.3073907,\t       \"country\": \"BH\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-east-1\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Hong Kong\",\t       \"lat\": 22.2908475,\t       \"lon\": 114.2723379,\t       \"country\": \"HK\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"cn-north-1\",\t       \"region\": \"China\",\t       \"city\": \"Beijing\",\t       \"lat\": 39.8094478,\t       \"lon\": 116.5783234,\t       \"country\": \"CN\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"cn-northwest-1\",\t       \"region\": \"China\",\t       \"city\": \"Ningxia\",\t       \"lat\": 37.5024418,\t       \"lon\": 105.1627193,\t       \"country\": \"CN\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":780,"wires":[["3c8e03b698ef6966"]]},{"id":"4228a7346be0d75c","type":"switch","z":"e8730ab9b6b2bef6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"All","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":880,"wires":[["22b9f3abf43d78bc"],["ea087cd375324cb2"]]},{"id":"cee2222cc9a274e6","type":"change","z":"e8730ab9b6b2bef6","name":"All Nodes","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t\t[\t   {\t       \"name\": \"us-east-1\",\t       \"region\": \"US East\",\t       \"city\": \"Virginia\",\t       \"lat\": 38.9940541,\t       \"lon\": -77.4524237,\t       \"country\": \"US\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"us-east-2\",\t       \"region\": \"US East\",\t       \"city\": \"Ohio\",\t       \"lat\": 40.0946354,\t       \"lon\": -82.7541337,\t       \"country\": \"US\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"us-west-1\",\t       \"region\": \"US West\",\t       \"city\": \"California\",\t       \"lat\": 37.44368,\t       \"lon\": -122.153664,\t       \"country\": \"US\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"us-west-2\",\t       \"region\": \"US West\",\t       \"city\": \"Oregon\",\t       \"lat\": 45.9174667,\t       \"lon\": -119.2684488,\t       \"country\": \"US\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-west-1\",\t       \"region\": \"Europe\",\t       \"city\": \"Ireland\",\t       \"lat\": 53.4056545,\t       \"lon\": -6.224503,\t       \"country\": \"IE\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-west-2\",\t       \"region\": \"Europe\",\t       \"city\": \"London\",\t       \"lat\": 51.5085036,\t       \"lon\": -0.0609266,\t       \"country\": \"GB\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-west-3\",\t       \"region\": \"Europe\",\t       \"city\": \"Paris\",\t       \"lat\": 48.6009709,\t       \"lon\": 2.2976644,\t       \"country\": \"FR\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-central-1\",\t       \"region\": \"Europe\",\t       \"city\": \"Frankfurt\",\t       \"lat\": 50.0992094,\t       \"lon\": 8.6303932,\t       \"country\": \"DE\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"sa-east-1\",\t       \"region\": \"South America\",\t       \"city\": \"São Paulo\",\t       \"lat\": -23.4925798,\t       \"lon\": -46.8105593,\t       \"country\": \"BR\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-southeast-1\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Singapore\",\t       \"lat\": 1.3218269,\t       \"lon\": 103.6930643,\t       \"country\": \"SG\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-southeast-2\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Sydney\",\t       \"lat\": -33.9117717,\t       \"lon\": 151.1907535,\t       \"country\": \"AU\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-northeast-1\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Tokyo\",\t       \"lat\": 35.617436,\t       \"lon\": 139.7459176,\t       \"country\": \"JP\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-northeast-2\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Seoul\",\t       \"lat\": 37.5616592,\t       \"lon\": 126.8736237,\t       \"country\": \"KR\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-south-1\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Mumbai\",\t       \"lat\": 19.2425503,\t       \"lon\": 72.9667878,\t       \"country\": \"IN\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ca-central-1\",\t       \"region\": \"Canada\",\t       \"city\": \"Canada Central\",\t       \"lat\": 45.5,\t       \"lon\": -73.6,\t       \"country\": \"CA\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"af-south-1\",\t       \"region\": \"Africa\",\t       \"city\": \"Cape Town\",\t       \"lat\": -33.914651,\t       \"lon\": 18.3758801,\t       \"country\": \"ZA\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-north-1\",\t       \"region\": \"Europe\",\t       \"city\": \"Stockholm\",\t       \"lat\": 59.326242,\t       \"lon\": 17.8419717,\t       \"country\": \"SE\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"eu-south-1\",\t       \"region\": \"Europe\",\t       \"city\": \"Milan\",\t       \"lat\": 45.4628328,\t       \"lon\": 9.1076927,\t       \"country\": \"IT\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"me-south-1\",\t       \"region\": \"Middle East\",\t       \"city\": \"Bahrain\",\t       \"lat\": 25.941298,\t       \"lon\": 50.3073907,\t       \"country\": \"BH\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"ap-east-1\",\t       \"region\": \"Asia Pacific\",\t       \"city\": \"Hong Kong\",\t       \"lat\": 22.2908475,\t       \"lon\": 114.2723379,\t       \"country\": \"HK\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"cn-north-1\",\t       \"region\": \"China\",\t       \"city\": \"Beijing\",\t       \"lat\": 39.8094478,\t       \"lon\": 116.5783234,\t       \"country\": \"CN\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  },\t   {\t       \"name\": \"cn-northwest-1\",\t       \"region\": \"China\",\t       \"city\": \"Ningxia\",\t       \"lat\": 37.5024418,\t       \"lon\": 105.1627193,\t       \"country\": \"CN\",\t       \"icon\": \"server\",\t       \"iconColor\": \"#5C6BC0\"\t  }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1140,"wires":[[]]},{"id":"0e9e39a6378ff707","type":"change","z":"e8730ab9b6b2bef6","name":"Nodes","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\t  \"nodes\": {\t    \"aws\":\t\t[\t  {\t    \"name\": \"us-east-1\",\t    \"region\": \"US East\",\t    \"city\": \"Virginia\",\t    \"lat\": 38.9940541,\t    \"lon\": -77.4524237,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-east-2\",\t    \"region\": \"US East\",\t    \"city\": \"Ohio\",\t    \"lat\": 40.0946354,\t    \"lon\": -82.7541337,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-west-1\",\t    \"region\": \"US West\",\t    \"city\": \"California\",\t    \"lat\": 37.44368,\t    \"lon\": -122.153664,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-west-2\",\t    \"region\": \"US West\",\t    \"city\": \"Oregon\",\t    \"lat\": 45.9174667,\t    \"lon\": -119.2684488,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Ireland\",\t    \"lat\": 53.4056545,\t    \"lon\": -6.224503,\t    \"country\": \"IE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-2\",\t    \"region\": \"Europe\",\t    \"city\": \"London\",\t    \"lat\": 51.5085036,\t    \"lon\": -0.0609266,\t    \"country\": \"GB\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-3\",\t    \"region\": \"Europe\",\t    \"city\": \"Paris\",\t    \"lat\": 48.6009709,\t    \"lon\": 2.2976644,\t    \"country\": \"FR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-central-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Frankfurt\",\t    \"lat\": 50.0992094,\t    \"lon\": 8.6303932,\t    \"country\": \"DE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"sa-east-1\",\t    \"region\": \"South America\",\t    \"city\": \"São Paulo\",\t    \"lat\": -23.4925798,\t    \"lon\": -46.8105593,\t    \"country\": \"BR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-southeast-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Singapore\",\t    \"lat\": 1.3218269,\t    \"lon\": 103.6930643,\t    \"country\": \"SG\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-southeast-2\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Sydney\",\t    \"lat\": -33.9117717,\t    \"lon\": 151.1907535,\t    \"country\": \"AU\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-northeast-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Tokyo\",\t    \"lat\": 35.617436,\t    \"lon\": 139.7459176,\t    \"country\": \"JP\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-northeast-2\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Seoul\",\t    \"lat\": 37.5616592,\t    \"lon\": 126.8736237,\t    \"country\": \"KR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-south-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Mumbai\",\t    \"lat\": 19.2425503,\t    \"lon\": 72.9667878,\t    \"country\": \"IN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ca-central-1\",\t    \"region\": \"Canada\",\t    \"city\": \"Canada Central\",\t    \"lat\": 45.5,\t    \"lon\": -73.6,\t    \"country\": \"CA\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"af-south-1\",\t    \"region\": \"Africa\",\t    \"city\": \"Cape Town\",\t    \"lat\": -33.914651,\t    \"lon\": 18.3758801,\t    \"country\": \"ZA\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-north-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Stockholm\",\t    \"lat\": 59.326242,\t    \"lon\": 17.8419717,\t    \"country\": \"SE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-south-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Milan\",\t    \"lat\": 45.4628328,\t    \"lon\": 9.1076927,\t    \"country\": \"IT\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"me-south-1\",\t    \"region\": \"Middle East\",\t    \"city\": \"Bahrain\",\t    \"lat\": 25.941298,\t    \"lon\": 50.3073907,\t    \"country\": \"BH\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-east-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Hong Kong\",\t    \"lat\": 22.2908475,\t    \"lon\": 114.2723379,\t    \"country\": \"HK\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"cn-north-1\",\t    \"region\": \"China\",\t    \"city\": \"Beijing\",\t    \"lat\": 39.8094478,\t    \"lon\": 116.5783234,\t    \"country\": \"CN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"cn-northwest-1\",\t    \"region\": \"China\",\t    \"city\": \"Ningxia\",\t    \"lat\": 37.5024418,\t    \"lon\": 105.1627193,\t    \"country\": \"CN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  }\t]}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":980,"wires":[["6024486c6111bd26"]]},{"id":"6024486c6111bd26","type":"change","z":"e8730ab9b6b2bef6","name":"filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"$filter(\t   payload.nodes.aws,\t   function($v, $i, $a) \t   {   $v.country = topic }\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":960,"wires":[["35b8bdf673b34552"]]},{"id":"35b8bdf673b34552","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":715,"y":980,"wires":[],"l":false},{"id":"d31f1249a9563691","type":"change","z":"e8730ab9b6b2bef6","name":"Nodes","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\t  \"nodes\": {\t    \"aws\":\t\t[\t  {\t    \"name\": \"us-east-1\",\t    \"region\": \"US East\",\t    \"city\": \"Virginia\",\t    \"lat\": 38.9940541,\t    \"lon\": -77.4524237,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-east-2\",\t    \"region\": \"US East\",\t    \"city\": \"Ohio\",\t    \"lat\": 40.0946354,\t    \"lon\": -82.7541337,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-west-1\",\t    \"region\": \"US West\",\t    \"city\": \"California\",\t    \"lat\": 37.44368,\t    \"lon\": -122.153664,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"us-west-2\",\t    \"region\": \"US West\",\t    \"city\": \"Oregon\",\t    \"lat\": 45.9174667,\t    \"lon\": -119.2684488,\t    \"country\": \"US\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Ireland\",\t    \"lat\": 53.4056545,\t    \"lon\": -6.224503,\t    \"country\": \"IE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-2\",\t    \"region\": \"Europe\",\t    \"city\": \"London\",\t    \"lat\": 51.5085036,\t    \"lon\": -0.0609266,\t    \"country\": \"GB\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-west-3\",\t    \"region\": \"Europe\",\t    \"city\": \"Paris\",\t    \"lat\": 48.6009709,\t    \"lon\": 2.2976644,\t    \"country\": \"FR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-central-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Frankfurt\",\t    \"lat\": 50.0992094,\t    \"lon\": 8.6303932,\t    \"country\": \"DE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"sa-east-1\",\t    \"region\": \"South America\",\t    \"city\": \"São Paulo\",\t    \"lat\": -23.4925798,\t    \"lon\": -46.8105593,\t    \"country\": \"BR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-southeast-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Singapore\",\t    \"lat\": 1.3218269,\t    \"lon\": 103.6930643,\t    \"country\": \"SG\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-southeast-2\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Sydney\",\t    \"lat\": -33.9117717,\t    \"lon\": 151.1907535,\t    \"country\": \"AU\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-northeast-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Tokyo\",\t    \"lat\": 35.617436,\t    \"lon\": 139.7459176,\t    \"country\": \"JP\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-northeast-2\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Seoul\",\t    \"lat\": 37.5616592,\t    \"lon\": 126.8736237,\t    \"country\": \"KR\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-south-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Mumbai\",\t    \"lat\": 19.2425503,\t    \"lon\": 72.9667878,\t    \"country\": \"IN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ca-central-1\",\t    \"region\": \"Canada\",\t    \"city\": \"Canada Central\",\t    \"lat\": 45.5,\t    \"lon\": -73.6,\t    \"country\": \"CA\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"af-south-1\",\t    \"region\": \"Africa\",\t    \"city\": \"Cape Town\",\t    \"lat\": -33.914651,\t    \"lon\": 18.3758801,\t    \"country\": \"ZA\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-north-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Stockholm\",\t    \"lat\": 59.326242,\t    \"lon\": 17.8419717,\t    \"country\": \"SE\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"eu-south-1\",\t    \"region\": \"Europe\",\t    \"city\": \"Milan\",\t    \"lat\": 45.4628328,\t    \"lon\": 9.1076927,\t    \"country\": \"IT\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"me-south-1\",\t    \"region\": \"Middle East\",\t    \"city\": \"Bahrain\",\t    \"lat\": 25.941298,\t    \"lon\": 50.3073907,\t    \"country\": \"BH\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"ap-east-1\",\t    \"region\": \"Asia Pacific\",\t    \"city\": \"Hong Kong\",\t    \"lat\": 22.2908475,\t    \"lon\": 114.2723379,\t    \"country\": \"HK\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"cn-north-1\",\t    \"region\": \"China\",\t    \"city\": \"Beijing\",\t    \"lat\": 39.8094478,\t    \"lon\": 116.5783234,\t    \"country\": \"CN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  },\t  {\t    \"name\": \"cn-northwest-1\",\t    \"region\": \"China\",\t    \"city\": \"Ningxia\",\t    \"lat\": 37.5024418,\t    \"lon\": 105.1627193,\t    \"country\": \"CN\",\t    \"icon\": \"server\",\t    \"iconColor\": \"#5C6BC0\"\t  }\t]}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":820,"wires":[[]]},{"id":"d6a01b6c2f683f9c","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":655,"y":900,"wires":[],"l":false},{"id":"ec81254263b785cf","type":"change","z":"e8730ab9b6b2bef6","name":"region","rules":[{"t":"set","p":"region","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":820,"wires":[["edab8696c5eccfef"]],"l":false},{"id":"ea087cd375324cb2","type":"change","z":"e8730ab9b6b2bef6","name":"region","rules":[{"t":"set","p":"country","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":880,"wires":[["edab8696c5eccfef"]],"l":false},{"id":"39b62b55edc28177","type":"inject","z":"e8730ab9b6b2bef6","name":"select ALL","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"fields\":[\"id\",\"date\",\"original_size_kb\",\"deepbase_size_kb\",\"reduction\",\"hamming_distance\",\"performance\"]}","payloadType":"json","x":140,"y":400,"wires":[["1bc72b7d742d4ac9"]]},{"id":"1bc72b7d742d4ac9","type":"airtable out","z":"e8730ab9b6b2bef6","airtable":"75bba8dcbec60ee7","operation":"select","outputType":"array","table":"DICOM","name":"select","x":330,"y":400,"wires":[["450fcc4cd6d6575e","8e915b5eca49a77a","bd081964cc6977e5","a6efa62dcfc76672","cbe088831fa0e489","b260335cf4e376e7","d39547289ed52847","8a10dcfbfbd4f2b3","b150366c212027f2","bf7013cd5a1c6be7"]]},{"id":"450fcc4cd6d6575e","type":"debug","z":"e8730ab9b6b2bef6","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":435,"y":480,"wires":[],"l":false},{"id":"dfcafdefa8d4c0bb","type":"comment","z":"e8730ab9b6b2bef6","name":"Airtable","info":"API Key\nkeybWxGW1AfEc5XaK\n\nBaseID:\nappTKk2QiecYTvD7a","x":170,"y":360,"wires":[]},{"id":"55a242611d58b36c","type":"template","z":"e8730ab9b6b2bef6","name":"query","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"fields\":\n[\n\"user_id\",\n\"email\",\n\"first_name\",\n\"last_name\",\n\"password\",\n\"verification_code\"\n\n],\n\"filterByFormula\":\"{email}='{{{payload}}}'\"}","output":"str","x":1250,"y":400,"wires":[[]]},{"id":"068e07f898a97f51","type":"template","z":"e8730ab9b6b2bef6","name":"query","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"fields\":\n[\"user_id\",\n\"email\",\n\"password\",\n\"verification_code\",\n\"first_name\",\n\"last_name\",\n\"status\"\n],\n\"filterByFormula\": \"{email}='{{{payload.email}}}'\",\n\"filterByFormula\":\"{password}='{{{payload.password}}}'\"\n}","output":"str","x":1095,"y":420,"wires":[[]]},{"id":"54176b815220debe","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":155,"y":580,"wires":[],"l":false},{"id":"5e76453cdf227f90","type":"change","z":"e8730ab9b6b2bef6","name":"date","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substringBefore($fromMillis(msg.payload), \"T\")\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":175,"y":520,"wires":[["54176b815220debe","42e5fb58d1617be0"]],"l":false},{"id":"8fb57ca634f6c903","type":"inject","z":"e8730ab9b6b2bef6","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"29-03-2021","payloadType":"str","x":90,"y":440,"wires":[["42e5fb58d1617be0"]]},{"id":"6807ae1e21683f36","type":"inject","z":"e8730ab9b6b2bef6","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"29-03-2021","payload":"29-03-2021","payloadType":"str","x":810,"y":140,"wires":[["3ce9ebb0476f240b"]]},{"id":"bc8f761a6a8a059b","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":180,"wires":[]},{"id":"3ce9ebb0476f240b","type":"change","z":"e8730ab9b6b2bef6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"fields\":[\t       \"date\",\t       \"original_size_kb\",\t       \"deepbase_size_kb\",\t       \"reduction\",\t       \"hamming_distance\",\t       \"performance\"\t   ],\t   \"filterByFormula\":\"{date}='{{{payload}}}'\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":200,"wires":[["bc8f761a6a8a059b"]]},{"id":"42e5fb58d1617be0","type":"template","z":"e8730ab9b6b2bef6","name":"query","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"fields\":[\n       \"id\",\n       \"date\",\n       \"original_size_kb\",\n       \"deepbase_size_kb\",\n       \"reduction\",\n       \"hamming_distance\",\n       \"performance\"\t   \n   ],\n   \"filterByFormula\":\"{date}='{{{payload}}}'\"\t\n}","output":"str","x":270,"y":460,"wires":[["1bc72b7d742d4ac9"]]},{"id":"8e915b5eca49a77a","type":"change","z":"e8730ab9b6b2bef6","name":"reduced","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($average([msg.payload.fields.reduction])*100,1)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"reduction","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":380,"wires":[["0fe4378c4c575814"]]},{"id":"bd081964cc6977e5","type":"change","z":"e8730ab9b6b2bef6","name":"performance","rules":[{"t":"set","p":"payload","pt":"msg","to":"$average([msg.payload.fields.performance])","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"performance","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":420,"wires":[["0fe4378c4c575814"]]},{"id":"fe802233ce6b57ce","type":"ui_button","z":"e8730ab9b6b2bef6","name":"","group":"8d3dd0ac14fcb3cc","order":9,"width":5,"height":1,"passthru":false,"label":"Reset","tooltip":"Clear filters and reset to default","color":"#FBFBFB","bgcolor":"#464646","className":"","icon":"mi-redo","payload":"1","payloadType":"str","topic":"","topicType":"str","x":70,"y":720,"wires":[["4a440c2f8b2b6a18","1c704e3730b8ab97"]]},{"id":"a6efa62dcfc76672","type":"change","z":"e8730ab9b6b2bef6","name":"avg_original","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($average(msg.payload.fields.original_size_kb),1)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"original_kb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["0fe4378c4c575814"]]},{"id":"cbe088831fa0e489","type":"change","z":"e8730ab9b6b2bef6","name":"avg_deepbase","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($average(msg.payload.fields.deepbase_size_kb),1)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"deepbase_kb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":500,"wires":[["0fe4378c4c575814"]]},{"id":"0fe4378c4c575814","type":"join","z":"e8730ab9b6b2bef6","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":440,"wires":[["4a3f674d762ebffd","f780701abdac463b","98cd84c6af52011c","5f01e1798255a199"]]},{"id":"b260335cf4e376e7","type":"change","z":"e8730ab9b6b2bef6","name":"count","rules":[{"t":"set","p":"payload","pt":"msg","to":"$count(msg.payload.fields.id)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"count","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":540,"wires":[["0fe4378c4c575814"]]},{"id":"57335c3e586944d7","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":955,"y":420,"wires":[],"l":false},{"id":"1c704e3730b8ab97","type":"change","z":"e8730ab9b6b2bef6","name":"all","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"fields\":[\"id\",\"date\",\"original_size_kb\",\"deepbase_size_kb\",\"reduction\",\"hamming_distance\",\"performance\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":640,"wires":[["1bc72b7d742d4ac9"]],"l":false},{"id":"f780701abdac463b","type":"change","z":"e8730ab9b6b2bef6","name":"","rules":[{"t":"set","p":"secondary","pt":"msg","to":"msg.payload.count &\" images\"","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.reduction","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":975,"y":360,"wires":[["f5646403fa58da3b"]],"l":false},{"id":"d39547289ed52847","type":"change","z":"e8730ab9b6b2bef6","name":"compute","rules":[{"t":"set","p":"payload","pt":"msg","to":"6/$average([msg.payload.fields.performance])","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"compute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":340,"wires":[["0fe4378c4c575814"]]},{"id":"98cd84c6af52011c","type":"change","z":"e8730ab9b6b2bef6","name":"","rules":[{"t":"set","p":"secondary","pt":"msg","to":"\"was 6.75 ms\"","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.performance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":715,"y":320,"wires":[["c33fb947953b3fa7"]],"l":false},{"id":"77ca129ef8f0609b","type":"comment","z":"e8730ab9b6b2bef6","name":"openbenchmarking.org","info":"https://openbenchmarking.org/result/1404036-PL-LIBJPEGTE62\n\nhttps://openbenchmarking.org/result/1308209-UT-JPEGTESTS17","x":630,"y":220,"wires":[]},{"id":"8a10dcfbfbd4f2b3","type":"change","z":"e8730ab9b6b2bef6","name":"total_deepbase","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($sum(msg.payload.fields.deepbase_size_kb)/1000,1)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"after","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"images","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":300,"wires":[["b093c9e0a31ad74c","d3a39ae0df9a4036"]]},{"id":"b150366c212027f2","type":"change","z":"e8730ab9b6b2bef6","name":"total_original","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($sum(msg.payload.fields.original_size_kb)/1000,1)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"before","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"images","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":200,"wires":[["b093c9e0a31ad74c","0daf91aa89c6fe58"]]},{"id":"0daf91aa89c6fe58","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"d3a39ae0df9a4036","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":280,"wires":[]},{"id":"bf7013cd5a1c6be7","type":"change","z":"e8730ab9b6b2bef6","name":"group by","rules":[{"t":"set","p":"payload","pt":"msg","to":"**.performance","tot":"jsonata"},{"t":"set","p":"groupby","pt":"msg","to":"(\t   **^(date) {\t       \"@\" & date: {\t           \"name\": [name][0],\t           \"date\": [date][0],\t           \"performance\": $average(performance)             \t       }     \t   } \t).*","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":600,"wires":[["f442c2aba52ecdc6","a34badf90aed3031"]]},{"id":"2f3a3aa51930f191","type":"switch","z":"e8730ab9b6b2bef6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"All","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":940,"wires":[["22b9f3abf43d78bc"],["9a48103133c04c45"]]},{"id":"9a48103133c04c45","type":"change","z":"e8730ab9b6b2bef6","name":"region","rules":[{"t":"set","p":"city","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":940,"wires":[["edab8696c5eccfef"]],"l":false},{"id":"a34badf90aed3031","type":"split","z":"e8730ab9b6b2bef6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":815,"y":600,"wires":[["d03533fcb13e199a"]],"l":false},{"id":"d8d1c01644142833","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1175,"y":600,"wires":[],"l":false},{"id":"d03533fcb13e199a","type":"change","z":"e8730ab9b6b2bef6","name":"$round(6.75/msg.payload.performance,0)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(6.75/msg.payload,0)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":875,"y":600,"wires":[["602e4fc3c1ef881f","6714021dd5dda877"]],"l":false},{"id":"5f01e1798255a199","type":"change","z":"e8730ab9b6b2bef6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.compute","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":500,"wires":[["6714021dd5dda877"]],"l":false},{"id":"dd2585767ce6c34b","type":"ui_template","z":"e8730ab9b6b2bef6","group":"8d3dd0ac14fcb3cc","name":"dashboard styles override","order":3,"width":0,"height":0,"format":"<style id=\"dashboard-styles-override\">\n   .nr-dashboard-theme md-select-menu md-option {\n        background-color: var(--nr-dashboard-groupBorderColor);\n        color: #eeeeee;\n        height: 29px;\n       /* border-radius: 14px;*/\n        margin-left: 10px;\n        margin-right: 10px;\n        margin-top: 2px;\n        box-shadow: 0 0 6px 6px #24202133;\n        transition: 0.3s;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: var(--nr-dashboard-widgetTextColor) !important;\n        background-color: var(--nr-dashboard-widgetColor) !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option:nth-child(even) {\n        background-color: var(--nr-dashboard-groupBorderColor);\n        opacity:0.8;\n    }\n    .nr-dashboard-theme md-select-menu md-option:last-child {\n       margin-bottom: 8px;\n    }\n    .nr-dashboard-theme md-select-menu md-option:hover {\n        background-color: var(--nr-dashboard-widgetBackgroundColor) !important;\n        padding-left: 24px;\n    }\n    .nr-dashboard-theme md-select-menu md-option > .md-ripple-container{\n        /* border-radius: 14px;*/\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":720,"wires":[[]]},{"id":"fb7147b0480ef713","type":"change","z":"e8730ab9b6b2bef6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"clear\":\"unknown\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1100,"wires":[[]]},{"id":"0824b31494a69cc1","type":"change","z":"e8730ab9b6b2bef6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(6.75/msg.payload,0)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1055,"y":600,"wires":[["d8d1c01644142833"]],"l":false},{"id":"8b566a5046b50539","type":"change","z":"e8730ab9b6b2bef6","name":"all","rules":[{"t":"set","p":"payload","pt":"msg","to":"all","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":720,"wires":[["2d7834b11b03b783","6a4efb705d53a5f1","4daeebddad8656d9"]],"l":false},{"id":"f442c2aba52ecdc6","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":775,"y":540,"wires":[],"l":false},{"id":"7a01e7fac7b05651","type":"change","z":"e8730ab9b6b2bef6","name":"group by","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   **^(date) {\t       \"@\" & date: {\t           \"name\": [name][0],\t           \"date\": [date][0],\t           \"performance\": $average(performance)     \t       } \t   }\t).*","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":740,"wires":[[]]},{"id":"602e4fc3c1ef881f","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1095,"y":640,"wires":[],"l":false},{"id":"be1b4221123933ea","type":"inject","z":"e8730ab9b6b2bef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"1","payloadType":"str","x":135,"y":620,"wires":[["1c704e3730b8ab97"]],"l":false},{"id":"62465422e3b88213","type":"inject","z":"e8730ab9b6b2bef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"1","payloadType":"str","x":435,"y":680,"wires":[["4a440c2f8b2b6a18"]],"l":false},{"id":"299ad85b3d5ded6a","type":"inject","z":"e8730ab9b6b2bef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"All","payloadType":"str","x":55,"y":760,"wires":[["2d7834b11b03b783"]],"l":false},{"id":"ea31bfa6a90897fb","type":"comment","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"ELT - Data Pipeline","info":"Extract-Load-Transform Data Movement\n\nhttps://www.youtube.com/watch?v=B6RDjs7D-qY\n\nhttps://www.youtube.com/watch?v=IF5YrYiV0sA\n\nETL:\n1. Most Reliable & Governable (for compliance)\n2. Structured but Complex\n3. Effective - Many Supporting Tools\n4. Takes more Time+Effort\n\nELT:\n1. Faster (12 hrs to 12 minutes)\n2. Good for Machine Learning\n3. Good for Analytics & Quick Insights\n4. Agile + Less Maintenance","x":170,"y":1260,"wires":[]},{"id":"18d9a63f4cc7098b","type":"inject","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"inject","props":[{"p":"payload"},{"p":"filename","v":"$millis()&\".json\"","vt":"jsonata"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"datalake","payload":"true","payloadType":"bool","x":95,"y":1360,"wires":[["93942f9feaa3794b"]],"l":false},{"id":"93942f9feaa3794b","type":"http request","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"Extract","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.v2.emissions-api.org/api/v2/carbonmonoxide/average.json?country=DE&begin=2019-02-01&end=2019-03-01","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":180,"y":1360,"wires":[["fd36b48568306bad","5997555cd57092dc"]]},{"id":"e9347cde2e6232fe","type":"change","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.average","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1460,"wires":[["b2de870a03e54440","34e522abda2f11e9"]]},{"id":"fd36b48568306bad","type":"file","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"Load","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":310,"y":1360,"wires":[["cf0e4ab060457832","4d45170682646443","3546e7a57adb1c78"]]},{"id":"cf0e4ab060457832","type":"file in","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"Storage","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":340,"y":1300,"wires":[["edf753c051f607a2"]]},{"id":"48773fb3f5df9147","type":"debug","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":755,"y":1400,"wires":[],"l":false},{"id":"edf753c051f607a2","type":"change","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"Transform","rules":[{"t":"set","p":"payload","pt":"msg","to":"$trim(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1300,"wires":[["07b218d38eddfe39"]]},{"id":"4d45170682646443","type":"split","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","splt":"}","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":1400,"wires":[["992760ae1ae2bd96","116eb33b5d026d40"]]},{"id":"992760ae1ae2bd96","type":"join","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","mode":"custom","build":"array","property":"payload.average","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":1400,"wires":[["48773fb3f5df9147","e9347cde2e6232fe"]]},{"id":"07b218d38eddfe39","type":"debug","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":615,"y":1300,"wires":[],"l":false},{"id":"3546e7a57adb1c78","type":"debug","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":435,"y":1360,"wires":[],"l":false},{"id":"f698d1fb3a04ebf4","type":"inject","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"inject","props":[{"p":"payload"},{"p":"filename","v":"$millis()&\".json\"","vt":"jsonata"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"datalake","payload":"true","payloadType":"bool","x":135,"y":1460,"wires":[["afdb6dc4e5df603d"]],"l":false},{"id":"afdb6dc4e5df603d","type":"file in","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"Read Storage","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":260,"y":1460,"wires":[["03045265c7c6a5f4"]]},{"id":"03045265c7c6a5f4","type":"debug","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":395,"y":1460,"wires":[],"l":false},{"id":"b2de870a03e54440","type":"function","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"Populate","func":"var m = [\n    {topic:\"X\", payload:msg.payload[0]},\n    {topic:\"Y\", payload:msg.payload[1]},\n    {topic:\"Z\", payload:msg.payload[2]}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1520,"wires":[["faab0b438e66bbd9"]]},{"id":"faab0b438e66bbd9","type":"ui_chart","z":"e8730ab9b6b2bef6","d":true,"g":"d253cd8185782b28","name":"","group":"0ee2c4781f4e9369","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":720,"y":1520,"wires":[[]]},{"id":"693c4528a957296d","type":"ui_statechart","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","group":"a2d91eaab3867062","order":4,"width":"4","height":"4","name":"","label":"Co2","series":"1,2,3,4,5,6,7,8,9,10,11,12","showvalues":true,"colorON":"#7acd00","colorOFF":"#e61414","colorFromTheme":false,"fontColorFromTheme":true,"textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSeries":"","x":590,"y":1640,"wires":[]},{"id":"0a4b0193f6f0cbc0","type":"inject","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":230,"y":1580,"wires":[["6e10dae38be6a6a0"]]},{"id":"6e10dae38be6a6a0","type":"function","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","func":"msg.payload = [\n{series:\"A\",value:123,state:true},\n{series:\"B\",value:120,state:true},\n{series:\"C\",value:125,state:true},\n{series:\"D\",value:130,state:true},\n{series:\"E\",value:131,state:true},\n{series:\"F\",value:127,state:true},\n{series:\"G\",value:133,state:true},\n{series:\"H\",value:131,state:true}\n\n\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1660,"wires":[[]]},{"id":"34e522abda2f11e9","type":"function","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"StateChart","func":"//msg.title = \"esg\";\nmsg.payload = [\n{series:\"A\",value:msg.payload[0],state:true},\n{series:\"B\",value:msg.payload[1],state:true},\n{series:\"C\",value:msg.payload[2],state:true},\n{series:\"D\",value:msg.payload[3],state:true},\n{series:\"E\",value:msg.payload[4],state:true},\n{series:\"F\",value:msg.payload[5],state:true},\n{series:\"G\",value:msg.payload[6],state:true},\n{series:\"H\",value:msg.payload[7],state:true},\n{series:\"I\",value:msg.payload[8],state:true},\n{series:\"J\",value:msg.payload[9],state:true},\n{series:\"K\",value:msg.payload[10],state:true},\n{series:\"L\",value:msg.payload[11],state:true}\n\n\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1580,"wires":[["693c4528a957296d"]]},{"id":"116eb33b5d026d40","type":"change","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.average","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1300,"wires":[["9d76e66dd98e75c8","85ed2826825efcf9"]]},{"id":"9d76e66dd98e75c8","type":"debug","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":1340,"wires":[]},{"id":"85ed2826825efcf9","type":"ui_valuetrail","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","group":"a2d91eaab3867062","order":6,"width":5,"height":"4","name":"Performance","label":"","unit":"%","blur":true,"minmax":true,"allowtoggle":true,"showvalue":true,"decimals":"0","colorLine":"#ff9900","colorFromTheme":true,"stroke":2,"property":"payload","pointcount":8,"x":1030,"y":1260,"wires":[]},{"id":"5997555cd57092dc","type":"debug","z":"e8730ab9b6b2bef6","g":"d253cd8185782b28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":255,"y":1420,"wires":[],"l":false},{"id":"3e4dd77f735ffc28","type":"comment","z":"e8730ab9b6b2bef6","name":"Steps","info":"https://appsumo.com/products/co2-accounting-incl-1t-compensation/\n\nCO2 Accounting service!\n\nYou want to neutralize the CO2 emissions from your business to offer your customers a 100% climate-neutral supply chain? With us, there are only 4 steps for your business to become CO2 neutral!\n\nWith our one-stop shopping app, your business will become CO2-neutral quickly and easily. You also qualify for a UN climate certificate with our report.\n\nYou just must take 4 steps for CO2 neutrality:\n1. Measurement of CO2-emission.\n2. Analysis for CO2-reduction.\n3. Contribution for CO2-neutralisation.\n4. Report for CO2-neutralization.","x":350,"y":40,"wires":[]},{"id":"5621e24db812684d","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":1760,"wires":[]},{"id":"a201cccc4addeffe","type":"debug","z":"e8730ab9b6b2bef6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1800,"wires":[]},{"id":"d377bc0c5ffc30da","type":"change","z":"e8730ab9b6b2bef6","name":"AVG C02 PPM","rules":[{"t":"set","p":"secondary","pt":"msg","to":"\"Trend: \" & $ceil( $average($.payload.co2.trend.$number()) ) & \" ppm\"","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$average($.payload.co2.cycle.$number())","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1800,"wires":[["a201cccc4addeffe","e9a8aeee7ddf1778"]]},{"id":"6844985dfbd6f9a7","type":"change","z":"e8730ab9b6b2bef6","name":"Reverse Sort","rules":[{"t":"set","p":"payload","pt":"msg","to":"$reverse(msg.payload.co2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1740,"wires":[["5621e24db812684d"]]},{"id":"6d51add7216080e0","type":"http request","z":"e8730ab9b6b2bef6","name":"Extract","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://global-warming.org/api/co2-api","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":180,"y":1760,"wires":[["6844985dfbd6f9a7","d377bc0c5ffc30da"]]},{"id":"fcee409c777b01f7","type":"inject","z":"e8730ab9b6b2bef6","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":75,"y":1760,"wires":[["6d51add7216080e0"]],"l":false},{"id":"642ba3f96c66dd2b","type":"change","z":"e8730ab9b6b2bef6","name":"","rules":[{"t":"set","p":"secondary","pt":"msg","to":"\"was \" & $round((payload.count*payload.original_kb)/10800,2) & \" Kbps\"","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$round((payload.count*payload.deepbase_kb)/10800,2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":1920,"wires":[["e9a8aeee7ddf1778"]],"l":false},{"id":"e9a8aeee7ddf1778","type":"ui_artlessgauge","z":"e8730ab9b6b2bef6","group":"a2d91eaab3867062","order":1,"width":4,"height":4,"name":"CO2 PPM","icon":"mi-perm_scan_wifi","label":"CO2 Avg. 2011-Today","unit":"PPM","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":true,"animate":true,"sectors":[{"val":300,"col":"#299900","t":"min","dot":0},{"val":360,"col":"#e6e600","t":"sec","dot":0},{"val":400,"col":"#ca3434","t":"sec","dot":0},{"val":600,"col":"#ca3434","t":"max","dot":0}],"lineWidth":"15","bgcolorFromTheme":true,"diffCenter":"payload.original_mb","x":540,"y":1860,"wires":[]},{"id":"9b7def65.511f2","type":"ui_button","z":"ce0171da5a9ecdf0","name":"","group":"fb4ca7c3.864058","order":1,"width":0,"height":0,"passthru":false,"label":"Yes","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":120,"wires":[["ac88f140.a9ac6"]]},{"id":"ac88f140.a9ac6","type":"ui_are_you_sure","z":"ce0171da5a9ecdf0","name":"","group":"fb4ca7c3.864058","iconColor":"#ffcc00","textColor":"#ffffff","backgroundColor":"#000000","icon":"fa fa-exclamation-triangle","title":"Are You Sure?","description":"Are you sure you want to perform this action?","timeoutSec":10,"x":280,"y":140,"wires":[["5f68c362624621cf"],["1b18d71e24bccdf6"]]},{"id":"e3d65363.2e3d","type":"comment","z":"ce0171da5a9ecdf0","name":"Default Example","info":"","x":120,"y":80,"wires":[]},{"id":"f4bdf09f.1d82","type":"inject","z":"ce0171da5a9ecdf0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":160,"wires":[["ac88f140.a9ac6"]]},{"id":"86ec2e07ae75abaa","type":"ui_button","z":"ce0171da5a9ecdf0","name":"","group":"fb4ca7c3.864058","order":2,"width":0,"height":0,"passthru":false,"label":"No","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{    \"tab\": \"Analytics\",    \"tabs\":{        \"show\":[            \"Voice\",            \"Contact_Us\",            \"Video\",            \"Analytics\",            \"Logout\"        ],        \"enable\":[            \"Voice\",            \"Contact_Us\",            \"Video\",            \"Analytics\",            \"Logout\"        ]    } }","payloadType":"json","topic":"topic","topicType":"msg","x":370,"y":200,"wires":[["a3a29174124420a6"]]},{"id":"5f68c362624621cf","type":"change","z":"ce0171da5a9ecdf0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Login\",\"tabs\":{\"show\":[\"Login\"],\"hide\":[\"Voice\",\"Vision\",\"Contact_Us\",\"Analytics\",\"Logout\"],\"disable\":[\"Voice\",\"Vision\",\"Contact_Us\",\"Analytics\",\"Logout\"]}}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":100,"wires":[["a3a29174124420a6"]],"l":false},{"id":"a3a29174124420a6","type":"link out","z":"ce0171da5a9ecdf0","name":"hide","mode":"link","links":["b624b5dba54857ca"],"x":475,"y":100,"wires":[]},{"id":"1b18d71e24bccdf6","type":"change","z":"ce0171da5a9ecdf0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"tab\": \"Analytics\",    \"tabs\":{        \"show\":[            \"Voice\",            \"Contact_Us\",            \"Video\",            \"Analytics\",            \"Logout\"        ],        \"enable\":[            \"Voice\",            \"Contact_Us\",            \"Video\",            \"Analytics\",            \"Logout\"        ]    } }","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":160,"wires":[["a3a29174124420a6"]],"l":false},{"id":"b9b2b8ee0223ba8d","type":"inject","z":"a4efcc4c0ae8e8fb","g":"f74895fa02c284ef","name":"full set","props":[{"p":"topic","vt":"str"},{"p":"initname","v":"John Doe","vt":"str"},{"p":"initiban","v":"DE00123456781234567890","vt":"str"},{"p":"initbic","v":"MARKDEFFXXX","vt":"str"},{"p":"messagetype","v":"pain.001.001.03","vt":"str"},{"p":"msgid","v":"","vt":"date"},{"p":"batchbooking","v":"true","vt":"bool"},{"p":"executiondate","v":"$substringBefore($now(),\"T\")\t","vt":"jsonata"},{"p":"tx","v":"[{\"name\":\"Creditor 1\",\"iban\":\"DE00123456780000000001\",\"amount\":1.23,\"purpose\":\"sct1\",\"id\":\"e2e-id 1\"},{\"name\":\"Creditor 2\",\"iban\":\"DE00123456780000000002\",\"amount\":2.34,\"purpose\":\"sct2\",\"id\":\"e2e-id 2\"}]","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"topicFromMessage","x":130,"y":160,"wires":[["a0d38c6dc8767af8"]]},{"id":"b7edd1e9c5af78ed","type":"debug","z":"a4efcc4c0ae8e8fb","g":"f74895fa02c284ef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"a0d38c6dc8767af8","type":"sepa-sct","z":"a4efcc4c0ae8e8fb","g":"f74895fa02c284ef","name":"","topic":"topicFromNode","initname":"halli","initiban":"","initbic":"","messagetype":"pain.001.001.03","msgid":"","batchbooking":"true","executiondate":"2024-01-01","x":320,"y":160,"wires":[["b7edd1e9c5af78ed","0f974e0347e06318"]]},{"id":"0f974e0347e06318","type":"file","z":"a4efcc4c0ae8e8fb","g":"f74895fa02c284ef","name":"","filename":"~/sepa.xml","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":550,"y":160,"wires":[[]]},{"id":"5b0d5c15e398c62d","type":"comment","z":"a4efcc4c0ae8e8fb","g":"f74895fa02c284ef","name":"SEPA","info":"# Example Flow\n\nhttps://en.wikipedia.org/wiki/Single_Euro_Payments_Area\n\nThe inject node provides a full set msg object with two transactions. Full set means, that all properties are set within the msg object and no config in the SEPA Credit Transfer node is needed.\n\nThe write file node writes the result into a file named sepa.xml in the users home directory (serverside!). \n","x":130,"y":100,"wires":[]}]
